<div class="footer-distributed">

  <div class="footer-left">

    <h3>Raymond's<span>Home</span></h3>

    <p class="footer-links">
      <a routerLink="">Home</a>
      ·
      <a routerLink="/profile">Profile</a>
      ·
      <a routerLink="/projects">Projects</a>

    </p>

    <p class="footer-company-name">Raymond Ma Home &copy; 2019</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-phone"></i>
      <p>+852-95860001</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:raymondma.public@gmail.com">raymondma.public@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About Raymond</span>
      A person who love to write programs which he can imagine
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</div>