<!-- page content -->
<div class="container-fluid" role="main">
  <div class="page-title row">
    <div class="title_left">
      <h3>Project - <small>{{proj.name}}</small></h3>
    </div>

  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-6">
      <ngb-carousel *ngIf="proj && proj.images" class="project-carousel">
        <ng-template ngbSlide *ngFor="let projImg of proj.images">
          <img [src]="projImg.url" alt="projImg.name" class="project-carousel-img">
          <div class="carousel-caption">
            <h3>{{projImg.name}}</h3>
            <p>{{projImg.description}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="row">
    <div>
      Start time - {{proj.startDate| date:'yyyy-MM-dd'}}
    </div>
    <div>
      Description - {{proj.description}}
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div *ngIf="proj && proj.googleDocs" class="col-sm-12 col-md-10">
      <div *ngFor="let doc of proj.googleDocs">
        <iframe class="googleDoc" [src]="doc.content | safe"></iframe>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
      <video>
          <source src="https://drive.google.com/uc?export=download&id=1AqPxgSANKLY67AcNhy2brilcSGegaeX4" type='video/mp4'>
      </video>
  </div>

</div>
<!-- /page content -->